
/*--------------------------------------------------------------
# LOGIN
--------------------------------------------------------------*/

.login-page,
.register-page {
    background: #dbdbe0;
    /* #353c7c; */
}

.login-box,
.register-box {
    margin: 7% auto;
    width: 100%;
}

@media (max-width: 768px) {

    .login-box,
    .register-box {
        margin-top: 20px;
    }
}

.login-box .login-logo,
.login-box .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-box .login-logo a,
.login-box .register-logo a {
    color: #fff;
}

.login-box .login-box-body,
.login-box .register-box-body {
    margin: 2% auto;
    width: 360px;
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    -webkit-box-shadow: 0px 0px 15px 15px rgba(110, 126, 179, 0.82);
    -moz-box-shadow: 0px 0px 15px 15px rgba(110, 126, 179, 0.82);
    box-shadow: 0px 0px 15px 15px rgba(110, 126, 179, 0.82);
}

.login-box .login-box-body .form-control-feedback,
.login-box .register-box-body .form-control-feedback {
    color: #777;
}

.login-box .login-box-msg,
.login-box .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.social-auth-links {
    margin: 10px 0;
}

.auth-links {
    display: block;
    text-align: right;
    margin-top: 10px;
}
