/***
====================================================================
	MESSAGE FEEDBACK
====================================================================
***/

.help-block {
    color: #bd362f;
    font-size: 13px;
}

.has-success input,
.has-success textarea,
.has-success select {
    border: 1px solid #6E8847 !important;
}

.has-success .input-group-addon {
    border: 1px solid #6E8847;
}
