

/***
====================================================================
	Reviews Page Section
====================================================================
***/

.review-page-section {
	position: relative;
	padding: 70px 0px 30px;
	background-color: #f0f0f0;
}

.review-page-section .sec-title {
	margin-bottom: 30px;
}

.review-page-section .styled-text {
	position: relative;
	color: #242424;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 50px;
	font-family: 'Lora', serif;
}

.review-page-section .no-review {
	text-align: center;
	font-size: 20px;
	padding: 10px 0 65px;
}

.review-page-section .review-block {
	position: relative;
	margin-bottom: 45px;
}

.review-page-section .review-block .inner-box {
	position: relative;
	padding: 45px 30px;
	border-radius: 5px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}

.review-page-section .review-block .inner-box .content {
	position: relative;
	padding: 15px 25px 20px 105px;
}

.review-page-section .review-block .inner-box .content .left-box {
	position: absolute;
	left: 0px;
	top: 0px;
}

.review-page-section .review-block .inner-box .content .left-box .quote-icon {
	position: relative;
	color: #2760ca;
	font-size: 65px;
	line-height: 1em;
	margin: 15px 22px;
}

.review-page-section .review-block .inner-box .content h3 {
    position: relative;
    color: #222328;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.2em;
}

.review-page-section .review-block .inner-box .content .text {
    position: relative;
    color: #797979;
    font-size: 17px;
    line-height: 1.7em;
    font-family: 'Lato', sans-serif;
}
