
/***
====================================================================
	Main Menu
====================================================================
***/

.main-menu {
	float: left;
	text-align: center;
}


/***
====================================================================
	Welcome Section
====================================================================
***/

.aboutus-section {
	position: relative;
	padding: 85px 0px 30px;
}

.aboutus-section .content-column {
	position: relative;
	margin-bottom: 40px;
}

.aboutus-section .image-column {
	display: none;
}
