
/***
====================================================================
	Header Upper
====================================================================
***/

.main-header .header-upper .upper-right {
	position: relative;
	padding-top: 0px;
}


/***
====================================================================
	Welcome Section
====================================================================
***/

.welcome-section {
	position: relative;
	padding: 55px 0px 40px;
	background: none;
}

.welcome-section .image-column .image {
	display: none;
}

.welcome-section .content-column .inner-column .text .text-list {
	position: relative;
	margin-top: 15px;
	text-align: left;
	padding-right: 10px;
	margin-left: 25%;
	width: 60%;
}

/***
====================================================================
	Offer Section
====================================================================
***/

.offer-section {
	position: relative;
	padding: 40px 0px 20px;
	background-color: #f4f4f5;
}


/***
====================================================================
	Testimonial Section
====================================================================
***/

.testimonial-section {
	position: relative;
	padding: 50px 0px;
	background-color: #1e1e1f;
}
