
/***
====================================================================
	Main Menu
====================================================================
***/

.main-menu {
	float: left;
	text-align: center;
}


/***
====================================================================
	Testimonial Page Section
====================================================================
***/

.testimonial-page-section {
	position: relative;
	padding: 85px 0px 30px;
	background-color: #f0f0f0;
}

.testimonial-page-section .no-testimonial {
	text-align: center;
	font-size: 20px;
	padding: 70px 0 65px;
}
