
/***
====================================================================
	Header Upper
====================================================================
***/

.main-header .header-upper {
	text-align: center;
}

.main-header .header-upper .upper-right {
	position: relative;
	padding-top: 5px;
	text-align: center;
}

.main-header .header-upper .upper-right .info-box {
	float: none;
	margin-left: 0px;
	text-align: center;
	padding: 0px;
	border-right: 0px;
}

.main-header .header-upper .upper-right .info-box li {
	line-height: 1.4em;
}

.main-header .header-upper .upper-right .info-box .icon-box {
	position: relative;
	top: 2px;
	font-size: 40px;
	text-align: center;
}


/***
====================================================================
	Contact Info Section
====================================================================
***/

.contact-info-section {
	position: relative;
	padding: 45px 0px 20px;
}

.contact-info-section .telephone-block {
	display: none;
}

/***
====================================================================
	Contact Form Section
====================================================================
***/

.contact-section {
	position: relative;
	overflow: hidden;
	padding: 50px 0px 0px;
	background-color: #f7f7f7;
}

.contact-section .form-column .inner-column {
	position: relative;
	padding-bottom: 30px;
}

.contact-section .image-column {
	display: none;
}
