/***
====================================================================
	Main Header (Topo das Paginas Internas)
====================================================================
***/

.main-header .header-top {
    display: none;
}

.main-header .main-box {
    position: absolute;
    width: 100%;
    padding-right: 0px;
    border-radius: 0px;
    background-color: #f7f7f7;
}

.main-header .main-box .logo-box {
    position: relative;
    float: none;
    padding-top: 12px;
    height: 100px;
    left: 0px;
    z-index: 10;
    border-radius: 0px;
}

.main-header .main-box .logo-box .logo {
    position: relative;
    z-index: 10;
    padding: 0px;
    margin-left: 10px;
}


/***
====================================================================
	Breadcrumb
====================================================================
***/

.breadcrumb-section {
    position: relative;
    padding: 184px 0px 60px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: right bottom;
    background-image: url(../../../images/background/bg-header.png);
}


/***
====================================================================
	Main Footer
====================================================================
***/

.main-footer .upper-box .footer-info-box .info-inner {
    position: relative;
    padding: 20px 22px;
    background-color: #0f1527;
    border: 1px dashed #027ae6;
}

.main-footer .upper-box .footer-info-box .info-inner .content {
    position: relative;
    text-align: center;
    padding-left: 0px;
}

.main-footer .upper-box .footer-info-box .info-inner .icon-box {
    position: relative;
    color: #027ae6;
    font-size: 36px;
    font-weight: 400;
    line-height: 1em;
}

.main-footer .upper-box .footer-info-box .info-inner .text {
    position: relative;
    color: #98a0b1;
    font-weight: bold;
    font-size: 16px;
}

.main-footer .upper-box .footer-info-box .info-inner .text span {
    display: block;
    color: #cdcfd4;
    font-weight: normal;
}

.main-footer .widgets-section .widgets-inner-container {
    position: relative;
    padding-left: 0px;
}

.main-footer .widgets-section .widgets-inner-container .cartoon-image {
    display: none;
}

.main-footer .widgets-section .widgets-inner-container .footer-widget {
    position: relative;
    margin-bottom: 30px;
    padding-top: 25px;
}

.main-footer .widgets-section .widgets-inner-container .footer-widget.footer-logo .logo-widget .logo {
    position: relative;
    text-align: center;
    margin: 0px;
}

.main-footer .widgets-section .widgets-inner-container .footer-widget .logo-widget .text {
    display: none;
}

.main-footer .widgets-section .widgets-inner-container .footer-widget .logo-widget .social-icon {
    display: none;
}

.main-footer .widgets-section .widgets-inner-container .footer-widget h2 {
    display: none;
}

.main-footer .widgets-section .widgets-inner-container .footer-widget.footer-quick-links {
    display: none;
}

.main-footer .widgets-section .widgets-inner-container .footer-widget.footer-services {
    display: none;
}

/* Footer Bottom */

.main-footer .footer-bottom {
    position: relative;
    padding: 30px 0px 65px;
    background-color: #0d121f;
}

.main-footer .footer-bottom .inner-container {
    position: relative;
    padding-left: 0px;
}

.main-footer .footer-bottom ul li {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding-right: 0px;
    margin-right: 0px;
    line-height: 1.2em;
    border-right: 0px;
    font-family: 'Open Sans', sans-serif;
}

.main-footer .footer-bottom ul li:last-child {
    margin-top: 20px;
}
